html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html,
body {
  font-family: "neue-haas-grotesk-display";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Typography */

* {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 28px;
}

/* Page elements */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-width {
  max-width: 100%;
  width: 400px;
}

.page-content {
  padding: 30px 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-content + .page-content {
  padding-top: 0;
}

.image-no-overflow {
  max-width: 100%;
}

/* Global elements */

.page-header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-footer {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: white !important;
  line-height: 2em;
}

@media screen and (min-width: 1024px) {
  .page-header {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .page-footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.page-footer a {
  color: white !important;
}

.footer-logo {
  margin: 0 auto;
  display: block;
  max-width: 200px;
}

.share-bar {
  text-align: center;
}

.share-icon {
  max-width: 40px;
  margin: 5px;
}
